<% content_for :title do %>
    <%= @series.title %> | <%= Date.parse( @release.published ).strftime("%B %Y") %> | <%= @dataset.title %> | Slice
<% end %>
<% content_for :styles do %>
  <link rel="stylesheet" href="/css/rickshaw.css">  
<% end %>
<% content_for :scripts do %>
  <!-- D3 CDN -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.2/d3.min.js"></script>

  <script src="/javascript/rickshaw.min.js"></script>
  <script src="/javascript/moment.min.js"></script>
  
    <script type="text/javascript">
var graph = new Rickshaw.Graph.Ajax( {

    dataURL: '<%= @data_url %>',
    onData: function(d) { return d },
    onComplete: function(transport) {
      var graph = transport.graph;      
      var x_axis = new Rickshaw.Graph.Axis.Time( { 
        graph: graph,
      } );
      
      var y_axis = new Rickshaw.Graph.Axis.Y( {
              graph: graph,
              element: document.getElementById('y_axis'),
      } );
      
      var hoverDetail = new Rickshaw.Graph.HoverDetail( {
          graph: graph,
          xFormatter: function(x) { return moment.unix(x).format('MMM YYYY') },
          formatter: function(series, x, y, formattedX, formattedY, d) {
              var provisional = (d.value.provisional == 'false' ? '' : '&nbsp;(Provisional)');
              var content = series.name + ": " + parseInt(y) + '<br>' + provisional;
              return content;                              
          }  
      } );
      
      graph.render();
    },
    element: document.querySelector("#chart"), 
    renderer: 'line',
    width: 700, 
    height: 400, 
    padding: {
      top: 0.1
    },
    series: [{
        name: '<%= @dataset.measures.first.title %>',
        color: 'steelblue',
        }]
    } );

    </script>  
<% end %>

<div class="container">

  <%= partial :"include/page_header" %>

  <div class="row">

    <div class="col-md-9">
      <p class="lead">
        <%= partial :"slice/title" %>
      </p>
      
      <div class="well chart">
        <div id="chart">
        </div>
      </div>
      <p>
         <%= @series.description %>
      </p>
      <h2>Release Notes</h2>
      <p><%= @release.description %></p>
      <p><%= @release.notes %></p>
      
    </div>

    <%= partial :"slice/sidebar" %>

  </div>

</div> <!-- /container -->
