<% content_for :title do %>
  Producer Price Index | January 2014 | PPI Statistical Bulletin (2010=100, SIC07) | Alcoholic Beverages - SPECIAL INDEX FOR USE IN NSO - Manu incl duty | December 2013
<% end %>

<div class="container">

  <div class="page-header">
    <h1>
      <img src="//onsdigital.github.io/ons-templates/nationalstatitics_tcm119-20491.gif" alt="National Statistic">
      <a href="/series/producer-price-index"><%= @series.title %></a>,
      <a href="/series/producer-price-index/releases/<%= @release.slug %>"><!-- link to release --><%= Date.strptime( @observation.dataset.release.slug, "%Y-%m-%d").strftime("%B %Y") %></a>
      <small><a href="/series/producer-price-index/releases/<%= @release.slug %>/datasets/<%= @dataset.slug %>"><!-- link to dataset -->PPI Statistical Bulletin (2010=100, SIC07)</a></small>
    </h1>
  </div>
  
  
  <div class="row">
  
    <div class="col-md-9">
      <p class="lead">
        In <strong><%= @observation.dimensions.date.value.title %></strong>, the <strong>price index</strong> for <strong><%= @observation.dimensions.product.value.title %></strong> was...
      </p>
      
      <%= partial :observation_panel %>
      
      <div class="row">
        <div class="col-sm-6">
          <table class="table">
            <% @observation.dimensions.attributes.each_pair do |k, v| %>
            <tr>
              <th><%= v.title %></th><td><%= v.value.title %></td>
            </tr>
            <% end %>
            <tr>
              <th><span data-toggle="tooltip" title="Values may be seasonally adjusted because...">Seasonal Adjustment</span></th><td><span data-toggle="tooltip" title="This value is not seasonally adjusted.">NSA</span></td>
            </tr>
            <tr>
              <th><span data-toggle="tooltip" title="Base year for calculating the index">Base Period</span></th><td><span data-toggle="tooltip" title="The price index uses 2010 as a base year with a value of 100.">2010</span></td>
            </tr>
          </table>
        </div>
        <div class="col-sm-6">
          <p>
            Producer Price Indices (PPIs) are a series of economic indicators that measure the price movement of goods bought and sold by UK manufacturers. It is a base weighted index working on the basket of goods concept. A wide range of representative products are selected and the prices of these goods collected each month. The movement in these prices are weighted to reflect the relative importance of the products in a chosen year (known as the base year) currently 2010. These are then aggregated for various sectors of industry to provide the published indices.
          </p>
        </div>
      </div>
      <h2>Notes</h2>
      <p>All of the data included in this dataset is published on a 2010=100 basis.</p>
      <p>A comprehensive selection of data on input and output indices. Contains producer price indices of materials and fuels purchased and output of manufacturing industry by broad sector.</p>
      <p>Indices for the latest two months are provisional due to the level of imputation present for items where the latest prices are not available. The latest five months are subject to revisions in light of (a) late and revised contributor data and (b) revisions to seasonal adjustment factors which are re-estimated every month.</p>
    </div>
  
    <%= partial :observation_sidebar %>
    
  </div>

</div> <!-- /container -->

<hr>

<%= partial :release_footer,  :locals => { release: @release} %>

