In 
  <strong>
    <span data-toggle="tooltip" title="<%= @observation.dimensions.date.value.description %>">
      <%= @observation.dimensions.date.value.title %>
    </span>    
  </strong>, 
the 
  <strong>
    <span data-toggle="tooltip" title="<%= @dataset.measures.first.description %>">
      <%= @dataset.measures.first.title %>
    </span>  
  </strong> 
for 
  <strong>
    <span data-toggle="tooltip" title="<%= @observation.dimensions.product.value.description %>">
      <%= @observation.dimensions.product.value.title %>
    </span>  
  </strong> 
was...
