<% content_for :title do %>
  <%= @series.title %> | <%= Date.parse( @release.published ).strftime("%B %Y") %> | <%= @dataset.title %> | <%= @observation.dimensions.product.value.title %> | <%= @observation.dimensions.date.value.title %>
<% end %>

<div class="container">

  <%= partial :"include/page_header" %>
    
  <div class="row">
  
    <div class="col-md-9">
      <p class="lead">
        <%= partial :"observation/title" %>
      </p>
      
      <%= partial :"observation/panel" %>
      
      <div class="row">
        <div class="col-sm-6">
          <table class="table">
            <% @observation.dimensions.attributes.each_pair do |k, v| %>
            <tr>
              <th>
                <span data-toggle="tooltip" title="<%= v.description %>">
                  <%= v.title %>
                </span>
              </th>
              <td>
                <span data-toggle="tooltip" title="<%= v.value.description %>">
                  <%= v.value.title %>
                </span>
              </td>
            </tr>
            <% end %>
            <% @observation.data_attributes.attributes.each_pair do |k, v| %>
            <tr>
              <th>
                <span data-toggle="tooltip" title="<%= v.description %>">
                  <%= v.title %>
                </span>
              </th>
              <td>
                <span data-toggle="tooltip" title="<%= v.value.description %>">
                  <%= v.value.title %>
                </span>
              </td>
            </tr>
            <% end %>
          </table>
        </div>
        <div class="col-sm-6">
          <%= @observation.notes if @observation.respond_to?(:notes) %>
          <p>
          <%= @series.description %>
          </p>
        </div>
      </div>
      <h2>Release Notes</h2>
      <p><%= @release.description %></p>
      <p><%= @release.notes %></p>
    </div>
  
    <%= partial :"observation/sidebar" %>
    
  </div>

</div> <!-- /container -->

<hr>

<%= partial :"observation/release_footer",  :locals => { release: @release} %>

